.vs
.user
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
Assets/AssetStoreTools*
test.exe
test_Data/
UnityPlayer.dll
[Cc]bj/
Assets/FMODStudioCache.asset
fmod.log
fmod_editor.log
BUG/.cache/
BUG/.unsaved/
BUG/.user/
BUG/Metadata/
Assets/FMODStudioCache.asset.meta
